@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-greyBg: #f9f9f9;
  --color-grey: #e5e5e5;
  --color-greyLight: #e5e5e5a8;
  --color-greyFont: #606060;
  --color-inputFocusBorder: #1c62b9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

i {
  font-style: normal;
}
.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 55px;
  position: sticky;
  top: 0;
  background: white;
  i {
    padding: 15px;
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 100px;
      margin-left: 15px;
    }
  }
  .search {
    form {
      border: 1px solid #eee;
      height: 35px;
    }
    input,
    button {
      border-radius: 0;
      border: none;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    input {
      width: 500px;
      padding: 0 0 0 10px;
    }
    input:focus {
      outline: none !important;
      border: 1px solid var(--color-inputFocusBorder);
      box-shadow: inset 0 0 2px var(--color-greyFont);
    }
  }
}

.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.categories {
  width: 260px;
  height: 100%;
  overflow: auto;
  // &:hover {
  //   overflow-y: scroll;
  // }
  .categoriesSection {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-greyLight);
    padding: 15px 0;
    margin: 0 10px 0 0;
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 25px 10px;
    }
  }
  .category {
    width: 100%;
    display: flex;
    padding: 12.5px 25px;
    align-items: center;
    cursor: pointer;
    &.active {
      background: var(--color-grey);
      //background: red;
      i {
        color: red;
      }
    }
    span {
      font-size: 14px;
    }
    &:hover {
      background: var(--color-greyLight);
    }
    i {
      margin-right: 25px;
    }
  }
}

.videos {
  background: var(--color-greyBg);
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  overflow-y: scroll;
  .videosGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .video {
      width: calc(25% - 10px);
      margin-bottom: 40px;
      .thumbnail {
        width: 100%;
        height: 210px;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .author {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 10px 0 0;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .details {
        display: flex;
        padding-top: 10px;
        // background: purple;
        .text {
          display: flex;
          flex-direction: column;
          //  background: yellow;
          h3 {
            margin-top: 0;
            margin-block-end: 0;
            font-weight: 500;
            font-size: 16px;
            //background: red;
          }
          a {
            color: inherit;
            text-decoration: none;
            //  background: blue;
          }
          a,
          span {
            font-size: 14px;
            //margin-top: 5px;
            color: var(--color-greyFont);
            //background: green;
          }
        }
      }
    }
  }
}
